<div class="container">
  <h1>Welcome to Hedgehogs!</h1>



</div>


<form action="/images" method="get">
  <br>
  <p> <%= content %></p>
  <img border="0 "src="/#{content}" alt="cute hedgehog">
<br>
    <input type="submit" value="New hedgehog"/>


  </form>
</div>
