<div class="container">
<br>
<br>
<form action="/images" method="post">
  <br>
  <div class="pic">
    <img src=<%= "#{@content}"%> width="400">
  </div>
<br>
<br>
    <input type="submit" value="Get a new chorus frog!"/>


  </form>
</div>
