<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js?app=skills"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Chorus Frog Generator</title>
</head>
<body>
  <nav>
    <ul>
        <li>
          <a href="/">Chorus Frog Generator</a>
        </li>
        <li>
    </ul>
  </nav>

  <%= yield %>
  <footer>Nothing else to see here</footer>
</body>
</html>
